# Tệp: fnb-smart-menu-backend/.dockerignore

venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.db
*.db-journal
database_data/ # Thêm thư mục chứa file SQLite cũ
.pytest_cache
.vscode
.git
.gitignore
*.log
docker-compose.yml # Không đưa tệp này vào image